useDynLib(MRMCaov, .registration = TRUE)


import(ggplot2)


importFrom(graphics, plot)
importFrom(gtools, combinations)
importFrom(magrittr, "%>%")
importFrom(methods, is)
importFrom(ROCR, performance)
importFrom(stats, aov, coef, pf, pt, reformulate, qt, reshape, terms, update,
           vcov)
importFrom(utils, head)


export(
  DeLong,
  jackknife,
  mrmc,
  empirical_auc,
  proproc_auc,
  trapezoidal_auc,
  roc,
  unbiased
)


export(
  proproc,
  sensitivity,
  specificity
)


S3method(plot, roc)
S3method(plot, mrmc)
S3method(print, cov_unbiased)
S3method(print, mrmc)
S3method(print, summary.mrmc)
S3method(sensitivity, proproc)
S3method(specificity, proproc)
S3method(summary, mrmc)
