useDynLib(MRMCaov, .registration = TRUE)


import(ggplot2)
import(methods)


importFrom(graphics, plot, points)
importFrom(gtools, combinations)
importFrom(methods, is)
importFrom(mvtnorm, pmvnorm)
importFrom(stats, aov, approx, as.formula, coef, model.matrix, optim, pnorm, pf,
           pt, reformulate, qnorm, qt, reshape, terms, update, vcov)
importFrom(tibble, as_tibble, tibble)
importFrom(utils, head)


export(
  DeLong,
  binary_sens,
  binary_spec,
  binormal_auc,
  binormal_sens,
  binormal_spec,
  empirical_auc,
  empirical_sens,
  empirical_spec,
  jackknife,
  mrmc,
  proproc_auc,
  proproc_sens,
  proproc_spec,
  roc_curves,
  trapezoidal_auc,
  trapezoidal_sens,
  trapezoidal_spec,
  unbiased
)


export(
  proproc,
  roc
)


S3method(as.data.frame, roc_curves)
S3method(as_tibble, roc_curves)
S3method(auc, binormal_params)
S3method(auc, proproc_params)
S3method(mean, roc_curve)
S3method(mean, roc_curves)
S3method(mean, roc_params)
S3method(plot, mrmc)
S3method(plot, empirical_curve)
S3method(plot, empirical_curves)
S3method(plot, roc_curve)
S3method(plot, roc_curves)
S3method(plot, roc_points)
S3method(points, empirical_curve)
S3method(points, empirical_curves)
S3method(points, roc_curve)
S3method(points, roc_curves)
S3method(points, roc_params)
S3method(print, cov_unbiased)
S3method(print, roc_curve)
S3method(print, mrmc)
S3method(print, summary.mrmc)
S3method(roc_curves, default)
S3method(roc_curves, mrmc)
S3method(summary, mrmc)
