useDynLib(MRMCaov, .registration = TRUE)


import(ggplot2)
import(methods)


importFrom(graphics, plot, points)
importFrom(gtools, combinations)
importFrom(methods, is)
importFrom(mvtnorm, pmvnorm)
importFrom(stats, aov, approx, as.formula, coef, formula, model.matrix, optim,
           pnorm, pf, pt, reformulate, qnorm, qt, reshape, terms, update, vcov)
importFrom(tibble, as_tibble, tibble)
importFrom(utils, head, str, tail)


export(
  DeLong,
  binary_sens,
  binary_spec,
  binormal_auc,
  binormal_sens,
  binormal_spec,
  empirical_auc,
  empirical_sens,
  empirical_spec,
  jackknife,
  mrmc,
  parameters,
  proproc_auc,
  proproc_sens,
  proproc_spec,
  roc_curves,
  srmc,
  trapezoidal_auc,
  trapezoidal_sens,
  trapezoidal_spec,
  unbiased
)


export(
  proproc,
  roc
)


S3method(mean, binormal_curves)
S3method(mean, roc_curve)
S3method(mean, roc_curves)
S3method(plot, empirical_curve)
S3method(plot, empirical_curves)
S3method(plot, mrmc)
S3method(plot, roc_curve)
S3method(plot, roc_curves)
S3method(plot, roc_points)
S3method(parameters, empirical_curves)
S3method(parameters, roc_curve)
S3method(parameters, roc_curves)
S3method(points, empirical_curve)
S3method(points, empirical_curves)
S3method(points, roc_curve)
S3method(points, roc_curves)
S3method(print, cov_matrix)
S3method(print, binormal_curve)
S3method(print, empirical_curve)
S3method(print, mrmc)
S3method(print, proproc_curve)
S3method(print, roc_curve)
S3method(print, roc_curves)
S3method(print, summary.mrmc)
S3method(roc_curves, default)
S3method(roc_curves, mrmc)
S3method(summary, mrmc)
S3method(summary, srmc)
